@import "reze-colors.css";

* {
  font-family: "Maple Mono NF";
  font-size: 16px;
  min-height: 0;
}

#waybar {
background: transparent;
margin: 5px;
}

#workspaces {
font-weight: bold;
border-radius: 5rem;
margin: 5px;
background-color: @surface0;
padding: 0 0.7rem;
}

#workspaces button {
color: @reze-hair;
border-radius: 5rem;
border: none;
transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
padding: 0 6px;
margin: 0 2px;
}

#workspaces button.active {
color: @reze-eyes;
border-radius: 5rem;
font-size: 18px;
padding: 0 10px;
}

#workspaces button:hover {
color: @reze-skin;
border-radius: 5rem;
background-color: rgba(255, 255, 255, 0.05);
}

#tray,
#custom-brightnessctl,
#battery,
#pulseaudio,
#custom-power,
#custom-system-monitor,
#custom-lock,
#custom-weather,
#custom-dunst,
#clock {
padding: 0.5rem 1rem;
margin: 5px 0;
background-color: @surface0;
}

#custom-music-play,
#custom-music-prev,
#custom-music-next {
background-color: @surface0;
padding: 0.5rem 1rem;
margin: 5px 0px;
color: @reze-hair;
}

#custom-music-prev { border-radius: 5rem 0 0 5rem; }
#custom-music-next { border-radius: 0 5rem 5rem 0; }

#clock {
color: @reze-eyes;
border-radius: 0 5rem 5rem 0;
}

#custom-weather {
border-radius: 5rem 0 0 5rem;
color: @reze-apron;
}

#custom-system-monitor {
border-radius: 5rem 0 0 5rem;
color: @reze-eyes;
}

#custom-dunst {
border-radius: 5rem 0 0 5rem;
color: @reze-eyes;
}

#battery {
color: @reze-hair;
}

#battery.charging {
color: @reze-eyes;
}

#battery.warning:not(.charging) {
color: @reze-red;
}

#custom-brightnessctl {
color: @reze-apron;
border-radius: 0;
}

#pulseaudio {
color: @reze-hair;
margin-left: 0;
padding-left: 1.5rem;
}

#custom-lock {
color: @reze-hair;
margin-left: 0;
margin-right: 0;
padding-left: 1.5rem;
}

#custom-power {
border-radius: 0 5rem 5rem 0;
color: @reze-red;
margin-left: 0;
margin-right: 0.5rem;
padding-left: 1.5rem;
}

#tray {
margin-right: 0;
padding-left: 1.5rem;
}
